<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <img src="clinic.jpg" width="400" height="400" />
  <h1>FIT 2095 CLINIC</h1>
  <p>WELCOME TO FIT2095 CLINIC</p> 
</div>
<div class="container">
  <h2>Catalog</h2>
  <button type="button" class="btn btn-primary btn-lg">Add Doctor</button>
  <button type="button" class="btn btn-primary btn-lg">Add Patient</button>
  <button type="button" class="btn btn-primary btn-lg">List Doctor</button>
  <button type="button" class="btn btn-primary btn-lg">List Patient</button>
  <button type="button" class="btn btn-primary btn-lg">Delete Patient</button>
  <button type="button" class="btn btn-primary btn-lg">Update Doctor</button>
</div>  


</body>
</html>